body {
  font-size: 16px;
}

/** HEADER **/
#header-nav {
  background-color: #a9a9a9;
  border-radius: 0;
  border: 0;
  border-bottom: 4px black solid;
}
#header-nav .container {
  padding-left: 20px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .05;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
#nav-list {
  margin-top: 0px;
}
#nav-list li {
  border: black solid;
}
#nav-list a {
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
/* END HEADER */


/* MAIN CONTENT */
#main-content {
  line-height: 1em;
  width: 100%;
}
#main-content .text-center {
  margin-top: -30px;
}
#main-content h3 {
  font-weight: 700;
}
#main-content h4 {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  font-size: 16px;
}
#main-content .text-body {
  background-color: #a9a9a9;
  margin-top: 20px;
  padding: 10px;
}
/* END MAIN CONTENT */



/********** Large devices only **********/
@media (min-width: 1200px) {
#collapsable-nav {
    visibility: hidden;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #collapsable-nav {
    visibility: hidden;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #collapsable-nav {
    visibility: hidden;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-header {
    height: 60px;
  }
  .navbar-brand {
    padding-top: 20px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  .main-content {
    margin: 60px;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 25px;
    padding-left: 25px;
    float: left;
    width: 100%;
  }
}
